.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter Variable'), sans-serif;
  font-variation-settings: 'wght', var(--fw-text, 400);
  background-color: var(--background-color, #fff);
  color: var(--main-color, #000);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(
    --background-image,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a)
  );
}

/* .header */

.header {
  background-color: var(--background-color);
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  line-height: 1;
  font-weight: var(--fw-text, 400);
  text-align: center;
  margin-block: 100px;
  padding-block: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem) 25px;
  border: 2px solid var(--main-color, #000);
}

.header__logo {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  margin-bottom: 25px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 14px;
  text-align: left;
  font-size: 14px;
}

.theme-menu__item {
  text-align: left;
  padding-inline-start: 15px;
}


.theme-menu__button {
  text-transform: uppercase;
  display: block;
  color: var(--main-color, #000);
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
}

.theme-menu__button::before {
  content: '▶';
  position: absolute;
  inline-size: 14px;
  aspect-ratio: 1;
  opacity: 0;
  inset: 0;
  inset-inline-start: -22px;
  color: currentColor;
  transition: opacity 0.9s ease;
  animation: moving 0.5s ease-in-out infinite alternate;
}

@keyframes moving {
  
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:disabled::before,
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  position: relative;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  inset: 0;
  inset-block-start: calc(100% + 1px);
  background-color: currentColor;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/* Article card */

.card {
  background-color: var(--background-color, #fff);
  padding: 0;
  border: 2px solid var(--main-color, #000);
}

.card:not(:last-child) {
  margin-bottom: 50px;
}

.card__title {
  font-size: 18px;
  line-height: 1.21;
  padding: 4px 10px 5px;
}

.card__image {
  position: relative;
  inset: 0;
}

.card__label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-size: 14px;
  line-height: 1;
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: var(--fw-text, 400);
  color: var(--main-color, #000);
  z-index: 1000;
  text-shadow:
    -1px 0 var(--background-color, #fff),
    0 1px var(--background-color, #fff),
    1px 0 var(--background-color, #fff),
    0 -1px var(--background-color, #fff);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--background-color, #fff)) or
    (-webkit-text-stroke: 1px var(--background-color, #fff))
) {

  .card__wrapper::after {
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-stroke: 1px var(--background-color, #fff);
    text-shadow: none;
  }
}

.card__image img {
  position: relative;
  z-index: 5;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  height: 696px;
}

.card:nth-of-type(2) .card__image img {
  filter: brightness(300%);
}

.card:nth-of-type(3) .card__image img {
  filter: contrast(500%);
}

.card:nth-of-type(4) .card__image img {
  filter: blur(5px);
}

.card:nth-of-type(5) .card__image img {
  filter: opacity(0.5);
}

.card:nth-of-type(6) .card__image img {
  filter: grayscale(0.9);
}

.card:nth-of-type(7) .card__image img {
  filter: saturate(190%);
}

.card:nth-of-type(8) .card__image img {
  filter: hue-rotate(90deg) sepia(90%)
    drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.6)) grayscale(0.4);
  object-position: right;
}

.card__content {
  border-block-start: 2px solid var(--main-color, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 1.16;
}

.card__text p:not(:last-child) {
  margin-bottom: 27px;
}

.card__buttons {
  align-self: flex-end;
  display: flex;
  gap: 6px;
  align-items: center;
}

.card__like-button {
  position: relative;
  background-color: var(--background-color, #fff);
  padding: 13px 0;
  min-width: 130px;
  border: 2px solid currentColor;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  z-index: 5;
  font-size: 14px;
}

.card__like-button:focus-visible,
.footer__button:focus-visible,
.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color, #000);
}

.card__like-button::before,
.footer__button::before,
.dialog__button::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  block-size: 100%;
  transform: translateX(-100%);
  background-color: var(--accent-color, #fff);
  z-index: 7;
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.card__like-button:hover::before,
.footer__button:hover::before,
.dialog__button:hover::before {
  transform: translateX(0);
}

.card__like-button:hover .button__text,
.footer__button:hover .button__text,
.dialog__button:hover .button__text {
  color: var(--background-color, #fff);
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px;
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid currentColor;
}

.like-icon:hover .core {
  opacity: 1;
  transition: opacity 0.3s 0 linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s 0.05s linear;
}

.like-icon:active .core {
  --core-color: var(--red);
  opacity: 1;
  transition: fill 0.3s 0 linear;
}

.like-icon:active .main-body {
  --fill-body: var(--red);
  opacity: 1;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  --core-color: var(--red);
  opacity: 1;
  transition: fill 0.3s 0 linear;
  animation: increase 0.1s 0.3s ease-in alternate;
}

.like-icon.is-liked .main-body {
  --fill-body: var(--red);
  opacity: 1;
  transition: fill 0.3s 0.05s linear;
  animation: increase 0.1s 0.3s ease-in alternate;
}

.like-icon.is-liked .contour {
  --contour: var(--red);
  opacity: 1;
  transition: fill 0.3s 0.06s linear;
  animation: increase 0.1s 0.3s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

@keyframes increase {

  to {
    transform: scale(1.2);
  }
}

@keyframes sparks {

  to {
    opacity: 1;
  }
}

.main-body {
  opacity: 0;
  transition: opacity 0.3s 0 linear;
}

.core {
  opacity: 0;
  transition: opacity 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.contour {
  --contour: var(--main-color);
  transition: fill 0.1s linear;
}

.button__text {
  display: block;
  position: relative;
  z-index: 50;
}

.text-like {
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: 400;
  line-height: 0.8;
  font-size: 14px;
  transition: color 0.5s ease-in-out;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 50px 105px;
}

.footer__button {
  position: relative;
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: var(--fw-text, 400);
  display: flex;
  font-size: 14px;
  line-height: 0.9;
  align-items: center;
  gap: 8px;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--main-color, #000);
  padding: 15px 19px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  z-index: 5;
}

.floppy {
  display: block;
}

.footer__button .floppy {
  width: 21px;
  height: 21px;
}

.footer__button:hover .floppy-icon-inner {
  fill: var(--main-color);
}

/* dialog  */

.dialog {
  display: grid;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  flex-direction: column;
  align-items: center;
  padding: 26px 30px;
  gap: 30px;
  min-width: 353px;
  background-color: var(--background-color, #fff);
  color: var(--main-color, #000);
  border: 2px solid currentColor;
}

.dialog[opened] {
  display: flex;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog__message {
  align-self: stretch;
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 1.5;
  font-size: 14px;
  padding-block-start: 5px;
}

.dialog__text {
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: var(--fw-text, 400);
  line-height: 1.5;
  font-size: 14px;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: var(--fw-text, 400);
  font-size: 14px;
  line-height: 0.9;
  inline-size: 100%;
  background-color: var(--background-color, #fff);
  color:var(--main-color,#000);
  border: 2px solid currentColor;
  padding: 12px 0;
  transition: 0.3s ease;
  overflow: hidden;
  z-index: 5;
  text-transform: uppercase;
}

.dialog__message .floppy {
  width: 36px;
  height: 36px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}


@media (max-width: 700px) {
  
  .theme-menu__item {
    padding-inline-start: 25px;
  }
}


@media (width<=375px) {

  .card__image img {
    border-block-start: 2px solid var(--main-color, #000);
    height: 371px;
  }

  .card__label {
   inset-inline-end: 13px;
  }

  .card__content {
    border-block-start: 4px solid var(--main-color, #000);
  }

  .card__like-button {
    padding: 13px 0 9px;
  }

  .footer__button {
    flex-direction: column;
    gap: 11px;
    padding: 15px 20px;
  }

  .footer__button .floppy {
    width: 28px;
    height: 28px;
  }
}
