.page {
  color: var(--main-color, #000);
  font-family: var(--main-font, 'Inter Variable'), sans-serif;
  background-color: var(--background-color, #fff);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght', var(--fw-text, 400);
}

/* .header */

.header {
  margin-block: 100px;
  border: 2px solid var(--main-color, #000);
  padding-block: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem) 25px;
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: var(--fw-text, 400);
  line-height: 1;
  text-align: center;
  background-color: var(--background-color);
}

.header__logo {
  display: block;
  margin-block-end: 20px;
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  text-transform: uppercase;
}

.header__title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 14px;
  font-size: 14px;
  text-align: left;
}

.theme-menu__item {
  padding-inline-start: 15px;
  text-align: left;
}


.theme-menu__button {
  display: block;
  color: var(--main-color, #000);
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
}

.theme-menu__button::before {
  content: '▶';
  position: absolute;
  inset: 0;
  color: currentColor;
  animation: moving 0.5s ease-in-out infinite alternate;
  inline-size: 14px;
  aspect-ratio: 1;
  inset-inline-start: -22px;
}

@keyframes moving {
  
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:disabled::before,
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  position: relative;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inset-block-start: calc(100% + 1px);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}


/* Article card */

.card {
  border: 2px solid var(--main-color, #000);
  padding: 0;
  background-color: var(--background-color, #fff);
}

.card:not(:last-child) {
  margin-bottom: 50px;
}

.card__title {
  padding: 4px 10px 5px;
  font-size: 18px;
  line-height: 1.21;
  font-variation-settings: 'wght' var(--fw-title, 700);
}

.card__image {
  position: relative;
  inset: 0;
  border-block-start: 2px solid currentColor;
}

.card__label {
  position: absolute;
  z-index: 1000;
  opacity: 0.5;
  color: var(--main-color, #000);
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: var(--fw-text, 400);
  font-size: 14px;
  line-height: 1;
  text-shadow:
    -1px 0 var(--background-color, #fff),
    0 1px var(--background-color, #fff),
    1px 0 var(--background-color, #fff),
    0 -1px var(--background-color, #fff);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--background-color, #fff)) or
    (-webkit-text-stroke: 1px var(--background-color, #fff))
) {

  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #fff);
    text-stroke: 1px var(--background-color, #fff);
  }
}

.card__image img {
  position: relative;
  z-index: 5;
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.filter-brightness {
  filter: brightness(300%);
}

.filter-contrast {
  filter: contrast(500%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-opacity {
  filter: opacity(0.5);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-saturate {
  filter: saturate(190%);
}

.filter-multiple {
  filter: hue-rotate(90deg) sepia(90%)
    drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.6)) grayscale(0.4);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-block-start: 2px solid var(--main-color, #000);
  padding: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 1.16;
  font-variation-settings: 'wght' var(--fw-text, 400);
}

.card__text p:not(:last-child) {
  margin-bottom: 27px;
}

.card__buttons {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: flex-end;
}

.card__like-button {
  position: relative;
  min-width: 130px;
  padding: 12px 0;
}

.main-button {
  z-index: 5;
  border: 2px solid currentColor;
  overflow: hidden;
  color:var(--main-color,#000);
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: var(--fw-text, 400);
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--background-color, #fff);
  transition: box-shadow 0.3s ease;
}

.main-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color, #000);
}

.main-button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 7;
  width: 100%;
  background-color: var(--accent-color, #fff);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  block-size: 100%;
  mix-blend-mode: difference;
}

.main-button:hover::before {
  transform: translateX(0);
}

.main-button:hover .button__text {
  color: var(--background-color, #fff);
}

.card__icon-button {
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  inline-size: 38px;
}

.card__icon-button:focus-visible {
  outline: 2px solid currentColor;
}

.button__text {
  position: relative;
  z-index: 50;
  display: block;
}

.text-like {
  transition: color 0.5s ease-in-out;
}

/* save */

.save {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 50px 105px;
}

.save__button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 19px;
}

.floppy {
  display: block;
}

.save__button .floppy {
  width: 21px;
  height: 21px;
}

.save__button:hover .floppy-icon-inner {
  fill: var(--main-color);
}

/* dialog  */

.dialog {
  gap: 30px;
  min-inline-size: 353px;
  border: 2px solid currentColor;
  padding: 26px 30px;
  color: var(--main-color, #000);
  background-color: var(--background-color, #fff);
}

.dialog[opened] {
  display: flex;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__message {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  padding-block-start: 5px;
  font-size: 14px;
  line-height: 1.5;
}

.dialog__text {
  font-family: var(--accent-font, 'Press Start 2P'), system-ui, fantasy;
  font-weight: var(--fw-text, 400);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  padding: 12px 0;
  text-transform: uppercase;
  inline-size: 100%;
}

.dialog__message .floppy {
  width: 36px;
  height: 36px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}


@media (max-width: 700px) {
  
  .theme-menu__item {
    padding-inline-start: 25px;
  }
}


@media (width<=375px) {

  .card__label {
   inset-inline-end: 13px;
  }

  .card__like-button {
    padding: 12px 0 10px;
  }

  .save__button {
    flex-direction: column;
    gap: 11px;
    padding: 15px 20px;
  }

  .save__button .floppy {
    width: 28px;
    height: 28px;
  }
}
