/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  /* dvb? */
  font-family: var(--main-font, 'Inter Variable'), sans-serif;
  font-variation-settings: "wght", var(--fw-text, 400);
  background-color: var(--background-color, #fff);
  color: var(--main-color, #000);
  background-size: cover;
  background-attachment: fixed;
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px,transparent 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px,transparent 2px 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%,#1a1a1a);

}

/* .header */

.header {
  background-color: var(--background-color);
  font-family: var(--accent-font,'Press Start 2P');
  line-height: 1;
  font-weight: var(--fw-text, 400);
  text-align:center;
  margin-block: 100px;
  padding-block: clamp(7.5rem, 7.148rem + 1.5vw, 8.5rem) 25px;
  border: 2px solid var(--main-color, #000);
}

.header__logo {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  margin-bottom: 25px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  gap: 14px;
  text-align: left;
  font-size: 14px;
}

.theme-menu__item {
text-align: left;
padding-inline-start: 15px;
}

@media (max-width:700px) {

  .theme-menu__item {
    padding-inline-start: 25px;
  }
}


.theme-menu__button {
  text-transform: uppercase;
  display: block;
}

.theme-menu__button:disabled {
  color:  var(--main-color, #000);
  position: relative;
  transition-duration: .5s;
  opacity:0.6;
}

.theme-menu__button:disabled::before {
  content:"▶";
  position: absolute;
  inline-size: 14px;
  aspect-ratio: 1;
  inset:0;
  inset-inline-start: -22px;
  color: var(--main-color, #000);
  opacity:0.6;
}

/* main */



/* Article card */


.card {
  background-color: var(--background-color, #fff);
  padding:0;
  border: 2px solid var(--main-color, #000);
}

.card__title {
  font-size: 18px;
  line-height: 1.2;
  padding:4px 10px 5px;
}

.card__image img{
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card__content {
  border-block-start:2px solid var(--main-color, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-size: 18px;
}

.card__text p:not(:last-child) {
  margin-bottom: 27px;
}

.card__like-button {
  align-self: flex-end;
  display: flex;
  gap:12px;
  align-items: center;
  cursor: pointer;
}

.card__icon-button {
  padding-top: 5px;
}

.button__text {
  font-family: var(--accent-font, 'Press Start 2P');
  font-weight:400;
  line-height: 0.9;
  font-size: 14px;
 
}

.text-like {
  padding: 13px 35px;
  border: 2px solid  var(--main-color, #000);
}


/* footer */

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 52px 105px;
}

.footer__button {
  display: flex;
  font-size: 14px;
  line-height: 0.9;
  align-items: center;
  gap: 8px;
  background-color: var(--background-color, #fff);
  border: 2px solid  var(--main-color, #000);
  padding: 15px 19px;
}

.footer__icon-button {
  display: block;
  width:21px;
  height: 21px;
}