/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter Variable';
  --accent-font: 'Press Start 2P';
  --fw-text: 400;
  --fw-title: 700;
  --background-color: #FFF;
  --main-color: #000;
  /* svg */
  --sparks-color: #FF0000;
  --core-color:var(--main-color);
  --fill-body:var(--main-color);
  --contour: var(--main-color);


  --accent-color: var(--background-color);
  --layout-size: 700px;
  --background-image:repeating-linear-gradient(to right, #d3d3d3 0 2px,transparent 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0 2px,transparent 2px 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%,#1a1a1a);
}